<app-navbar></app-navbar>

<div class="container mt-4">
    <h3 class="mb-4">Cadastro de Categoria</h3>

    <div class="alert alert-success" *ngIf="mensagemSucesso()">
        <strong>{{ mensagemSucesso() }}</strong>
    </div>

    <div class="alert alert-danger" *ngIf="mensagemErro()">
        <strong>{{ mensagemErro() }}</strong>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Categoria:</label>
            <input type="text" class="form-control" placeholder="Digite o nome da categoria"
                formControlName="nome" />
            <div class="text-danger" *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">
                Por favor, informe o nome da categoria com pelo menos 8 caracteres.
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            Realizar Cadastro
        </button>

    </form>
</div>