<!-- login.component.html -->
<div class="d-flex justify-content-center align-items-center min-vh-100"
     style="background: linear-gradient(135deg, #4e73df, #1cc88a);">
  <div class="card shadow p-4" style="width: 24rem;">
    <div class="text-center mb-2">
        <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.svg">
    </div>
    <h2 class="text-center"><strong>Finanças Web</strong></h2>
    <p class="text-center">Crie sua conta de usuário.</p>

    <div class="text-center text-success mb-2">
      <strong>{{ mensagemSucesso() }}</strong>
    </div>

    <div class="text-center text-danger mb-2">
      <strong>{{ mensagemErro() }}</strong>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome do usuário</label>
        <input
          type="text"
          formControlName="nome"
          class="form-control"
          id="nome"
          placeholder="Digite seu nome"
          required
        />
        <div class="text-danger" *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">
          Por favor, informe o <strong>nome</strong> com pelo menos 8 caracteres.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="Digite seu e-mail"
          required
        />
        <div class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          Por favor, informe um <strong>email</strong> válido.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          formControlName="senha"
          class="form-control"
          id="password"
          placeholder="Digite sua senha"
          required
        />
        <div class="text-danger" *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
          Por favor, informe a <strong>senha</strong> com letras maiúsculas, minúsculas símbolos e no mínimo 8 caracteres.
        </div>
      </div>

      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Confirme a Senha</label>
        <input
          type="password"
          formControlName="senhaConfirmacao"
          class="form-control"
          id="passwordConfirm"
          placeholder="Confirme sua senha"
          required
        />
        <div class="text-danger" *ngIf="form.get('senha')?.touched && form.get('senha')?.invalid">
          Por favor, informe a <strong>senha</strong> com letras maiúsculas, minúsculas símbolos e no mínimo 8 caracteres.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="form.invalid">Realizar Cadastro</button>

      <div class="text-center mt-3">
        <a routerLink="/autenticar-usuario">Já possui conta? Acesse aqui</a>
      </div>

    </form>

  </div>
</div>